<template>
<div id="">
    <p>Aboutページ</p>
    <ReturnTopButton />
</div>
</template>

<script>
import ReturnTopButton from './ReturnTopButton';
export default {
  components: {
    ReturnTopButton
  }
};
</script>
