<template>
<div id="">
    <p>Contentページ</p>
    <TodoListNew />
    <ReturnTopButton />
</div>
</template>

<script>
import TodoListNew from './TodoListNew';
import ReturnTopButton from './ReturnTopButton';
export default {
  components: {
    TodoListNew,
    ReturnTopButton
  }
};
</script>
