<template>
<div id="editmodal">
    <button v-on:click="openModal">編集</button>
    <div id="overlay" v-show="showContent" v-on:click="closeModal">
        <div id="content">
            <p>編集</p>
            <form class="add-form" v-on:submit.prevent="doAdd">
                <input type="text" ref="comment">
            </form>
            <button v-on:click="closeModal">キャンセル</button>
            <button type="submit">決定</button>
        </div>
    </div>
</div>
</template>
<script>
export default {
  name: 'OpenEditModalButton',
  el: '#editmodal',
  data () {
    return {
      showContent: false
    };
  },
  methods: {
    openModal () {
      this.showContent = true;
    },
    closeModal () {
      this.showContent = false;
    }
  }
};
</script>
