<template>
<div id="returntopbutton">
    <button @click="openModal">戻る</button>
    <div id="overlay" v-show="showContent" @click="closeModal">
        <div id="content">
            <p>トップページに戻りますか？</p>
            <button @click="closeModal">いいえ</button>
            <button @click="$router.push('/')">はい</button>
        </div>
    </div>
</div>
</template>
<script>
export default {
  name: 'ReturnTopButton',
  data () {
    return {
      showContent: false
    };
  },
  methods: {
    openModal () {
      this.showContent = true;
    },
    closeModal () {
      this.showContent = false;
    }
  }
};
</script>
<style>
#returntopbutton {
  margin: 20px;
}
#overlay {
  z-index:1;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
#content {
    z-index: 2;
    width:50%;
    padding: 1em;
    background:#fff;
}
</style>
