<template>
<div id="new">
    <div class="input-todo-area">
        <input
            type="text"
            v-model="inputAdd"
            placeholder="ここに入力"
            class="input-todo"
        />
        <button @click="addItem" class="input-btn">追加</button>
    </div>
    <div class="stock-todo-area">
        <div
            v-for="(todo,index) in todos"
            v-bind:key="todo.id"
            class="todo-list_contents"
        >
            <div class="todo-list_text">
                <label class="label" v-if="!todo.isEditMode">
                    <input
                        type="checkbox"
                        @click="saveCheckState(index);"
                        v-model="todo.isCheck"
                        class="checkbox"
                        hidden
                    />
                    <span class="todo-list_item">{{ index }}</span>
                    <span class="todo-list_item">{{ todo.item }}</span>
                    </label>
                    <input
                        type="text"
                        v-if="todo.isEditMode"
                        class="input-todo-edit"
                        v-bind:id="'editTextArea'+index"
                        :value = "todo.item"
                    />
            </div>
            <div class="todo-list_btn">
                    <div class="btn-left">
                        <button
                            v-if="!todo.isEditMode"
                            @click="openModal(index, todo)"
                            class="btn delete"
                        >
                        削除
                        </button>
                        <button
                            v-if="todo.isEditMode"
                            @click="editItem(index, 'cancel');"
                            class="btn cancel"
                        >
                        キャンセル
                        </button>
                    </div>
                    <div class="btn-right">
                        <button
                            v-if="!todo.isEditMode"
                            @click="editItem(index);"
                            class="btn"
                        >
                        編集
                        </button>
                        <button
                            v-if="todo.isEditMode"
                            @click="editItem(index);"
                            class="btn"
                        >
                        確定
                        </button>
                    </div>
            </div>
      </div>
    </div>
    <div class="overlay" v-show="showContent" @click="closeModal">
      <div class="content">
        <p>{{ selectedItem }}を削除しますか？</p>
        <button @click="closeModal">キャンセル</button>
        <button @click="deleteItem(selectedIndex);">はい</button>
      </div>
    </div>
</div>
</template>
<script>
import uuid from 'node-uuid';

export default {
  name: 'TodoListNew',
  data () {
    return {
      STORAGE_KEY: 'todos-vuejs-demo',
      inputAdd: '',
      todos: [],
      showContent: false,
      selectedIndex: '',
      selectedItem: ''
    };
  },
  computed: {
    computedTodos () {
      return this.todos.filter((el) => {
        return this.current < 0 ? true : this.current === el.state;
      }, this);
    }
  },
  watch: {
    todos: {
      handler (todos) {
        this.save(todos);
      },
      deep: true
    }
  },
  created () {
    this.todos = this.fetch();
  },
  methods: {
    fetch () {
      let todos = JSON.parse(
        localStorage.getItem(this.STORAGE_KEY) || '[]'
      );
      todos.forEach(todos.isEditMode === false);
      return todos;
    },
    save (todos) {
      localStorage.setItem(this.STORAGE_KEY, JSON.stringify(todos));
    },
    addItem () {
      if (!this.inputAdd) {
        return;
      }
      const newtodo = {
        id: uuid.v4(),
        item: this.inputAdd,
        isCheck: false,
        isEditMode: false
      };
      this.todos.push(newtodo);
      this.inputAdd = '';
    },
    openModal (index, todo) {
      this.showContent = true;
      this.selectedItem = todo.item;
      this.selectedIndex = index;
    },
    closeModal () {
      this.showContent = false;
    },
    deleteItem (selectedIndex) {
      this.todos.splice(selectedIndex, 1);
    },
    editItem (index, state) {
      if (this.todos[index].isEditMode) {
        this.todos[index].isEditMode = false;
        if (state === 'cancel') {
          return true;
        }
        let afterText = document.getElementById('editTextArea' + index).value;
        if (afterText) {
          this.todos[index].item = afterText;
        }
      } else {
        this.todos[index].isEditMode = true;
      }
    },
    saveCheckState (index) {
      if (this.todos[index].isCheck) {
        this.todos[index].isCheck = false;
      } else {
        this.todos[index].isCheck = true;
      }
    }
  },
  components: {
    uuid
  }
};
</script>

<style>
.input-todo-area {
  margin: 20px 0;
}

.todo-list_contents {
  display: flex;
  justify-content: center;
}
.todo-list_text {
  display: inline-block;
}

.btn-left, .btn-right {
  display: inline-block;
}

.todo-list_btn {
  margin-left: 20px;
}

.overlay {
  z-index:1;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
    z-index: 2;
    width:50%;
    padding: 1em;
    background:#fff;
}
</style>
